
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;500;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: #23252C;
    font-family: 'Readex Pro', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.business--card {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    background-color:#1A1B21;
    height: 95vh;
    border-radius: 25px;
    
}

.photo {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 40%;
}

.icon {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
}
//header container  

.header--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name--container {
    padding: 10px;
    
}

.name {
    color: #FFFFFF;
    text-transform:uppercase;
    font-size: 1.5rem;
    
}

.job--title {
    padding-top: 5px;
    color: #F3BF99;
    text-align: center; 
}

.button--container {
    padding-top: 5px;
   display: flex;
   justify-content: space-around;
    
}

.btn {
    width: 125px;
    height: 33px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
    border: none;
    color: #374151;
    
    
}

.linkedin {
    background-color: #5093E2;
    color: #ffffff;
}

.btn-icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

//main container

.about--container {
    color: #DCDCDC;
    text-align: center;
    margin-top: 15px;
}

.about--title {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.about {
    padding: 0 10px 0 10px;
    font-weight: 300;
}

//footer 

.footer--container {
    margin: 0 auto;
    margin-top: 15px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
